---
import Layout from '../layouts/index.astro';
import Navbar from '../components/navbar.astro';
const posts = Object.values(import.meta.glob('./news/*.md', { eager: true } ) );
posts.sort((a, b) => Date.parse(b.frontmatter.sort) - Date.parse(a.frontmatter.sort));
const posts2025 = posts.filter(post => post.frontmatter.year == "2025");
const posts2024 = posts.filter(post => post.frontmatter.year == "2024");
const posts2023 = posts.filter(post => post.frontmatter.year == "2023");
const posts2022 = posts.filter(post => post.frontmatter.year == "2022");
--- 
<Layout title = "news" >
  <div slot = "index">
      <div class = "center">
            <Navbar title = "news"/>
            <div box-="square" shear-="both">
                  <div class="header">
                        <span> <h1> Updates </h1> </span>
                  </div>
                  <div class = "flex-container">
                        <div class = "flex-item-left">
                              <p> Here you can find a quick lists of updates on my work. Enjoy! </p>
                              
                              <br/>
                              
                              <p>This list consists of quick, typically one-line, updates on the published work, planned talks, and travelling. More detailed descriptions of the published papers can be found <a href="/papers">here</a>. </p>
                              
                              <br/>


                              <details open>
                              <summary class="current"> ## 2025 ({posts2025.length})</summary>
                              {posts2025.map(post => 
                                    <div box-="square" shear-="both" class={post.frontmatter.decorator}>
                                          <div class="header">
                                                <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}> {post.frontmatter.date} </span>
                                          </div>
                                          <div class="mdtext" set:html={post.compiledContent()}/>
                                          <div class="header">
                                                <span>{ post.frontmatter.decorator == "post" ? "" :  "~" }</span>
                                                <span>
                                                      {post.frontmatter.link.map(link => 
                                                            <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}><a href={link[0]}>{link[1]}</a></span>
                                                      )}
                                                </span>
                                          </div>
                                    </div>
                                    
                              )}
                              </details>

                              <br/>

                              <details>
                              <summary class="old"> ### 2024 ({posts2024.length}) </summary>
                              {posts2024.map(post => 
                                    <div box-="square" shear-="both" class={post.frontmatter.decorator}>
                                          <div class="header">
                                                <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}> {post.frontmatter.date} </span>
                                          </div>
                                          <div class="mdtext" set:html={post.compiledContent()}/>
                                          <div class="header">
                                                <span>{ post.frontmatter.decorator == "post" ? "" :  "~" }</span>
                                                <span>
                                                      {post.frontmatter.link.map(link => 
                                                            <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}><a href={link[0]}>{link[1]}</a></span>
                                                      )}
                                                </span>
                                          </div>
                                    </div>
                                    
                              )}
                              </details>

                              <details>
                              <summary class="old"> ### 2023 ({posts2023.length})</summary>
                              {posts2023.map(post => 
                                    <div box-="square" shear-="both" class={post.frontmatter.decorator}>
                                          <div class="header">
                                                <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}> {post.frontmatter.date} </span>
                                          </div>
                                          <div class="mdtext" set:html={post.compiledContent()}/>
                                          <div class="header">
                                                <span>{ post.frontmatter.decorator == "post" ? "" :  "~" }</span>
                                                <span>
                                                      {post.frontmatter.link.map(link => 
                                                            <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}><a href={link[0]}>{link[1]}</a></span>
                                                      )}
                                                </span>
                                          </div>
                                    </div>
                                    
                              )}
                              </details>

                              <details>
                              <summary class="old"> ### 2022 ({posts2022.length})</summary>
                              {posts2022.map(post => 
                                    <div box-="square" shear-="both" class={post.frontmatter.decorator}>
                                          <div class="header">
                                                <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}> {post.frontmatter.date} </span>
                                          </div>
                                          <div class="mdtext" set:html={post.compiledContent()}/>
                                          <div class="header">
                                                <span>{ post.frontmatter.decorator == "post" ? "" :  "~" }</span>
                                                <span>
                                                      {post.frontmatter.link.map(link => 
                                                            <span is-="badge" variant-={ post.frontmatter.decorator == "post" ? "foreground0" : "peach"}><a href={link[0]}>{link[1]}</a></span>
                                                      )}
                                                </span>
                                          </div>
                                    </div>
                                    
                              )}
                              </details>
                        </div>
                  <div class="flex-item-right">  
                        <div box-="square" shear-="bottom">
                              <img width = "200px" src = "/avatar.png" >
                               <p><span is-="badge" cap-="slant-bottom" variant-="mauve"> Applied Math Researcher</span> </p>
                <p> <span is-="badge" cap-="slant-top" variant-="peach">Network Science @ RWTH</span> </p>
                <p>PostDoc</p>
                <ul marker-="open tree">
                  <li><button size-="small" variant-="rosewater"><a href ="https://github.com/mryodo">&#xf06cf; savostianov [at]</a></button></li>
                <li><button size-="small" variant-="rosewater"><a href ="https://github.com/mryodo">&#xe65b; Github</a></button></li>
                <li><button size-="small" variant-="rosewater"><a href ="https://scholar.google.com/citations?user=E0nt-XYAAAAJ&hl=en">&#xf1180; Scholar</a></button></li>
                <li><button size-="small" variant-="rosewater"><a href ="https://www.researchgate.net/profile/Anton-Savostianov-3?ev=hdr_xprf">&#xedc2; ResearchGate</a></button></li>
                <li><button size-="small" variant-="rosewater"><a href ="https://bsky.app/profile/mryodo.bsky.social">&#xe28e; Bluesky</a></button></li> 
                  </ul> 
                  <br/>
                  
                  <div class="header">
                    <span> &#xf1ce; </span>
                    <span is-="badge" cap-="triangle" variant-="teal"> contact </span>
                  </div>
                        </div>
                  </div>
                 
                  </div>
                   <div class="header">
                    <span> &#xf06b0; </span>
                    <span class = "bottomnav"  is-="badge" cap-="triangle" variant-="teal" > <a href = "/">go home</a> </span>
                  </div>
            </div>
      </div>
  </div>
</Layout>


<style>
      .current{
            font-weight: 700;
            color: var(--peach);
      }
      .old{
            font-weight: 700;
            color: var(--yellow);
      } 
      summary {
            list-style-type: "\f0794";
      }
      details[open] > summary {
             list-style-type: "\f0792";
      } 

     @layer utils { 
        [is-~="badge"] a{
                  text-decoration: none;
                  color: inherit;
      } 
      } 
      
 .flex-container {
         display: flex;
      flex-wrap: wrap;
    }

    .flex-item-left {
      padding: 1rem;
      flex: 65%;
    }

    .flex-item-right {
      flex: 35%;
      text-align: center;
    }
[is-~="badge"] a{
    text-decoration: none;
    color: inherit;
  }   
  
  ul {
     display: inline-block;
    text-align: left;
  }
  button a{
    text-decoration: none;
    color: inherit;
  }
    

    
    .flex-item-right > .box-square{
      padding-top: 1rem;
    }
    
    @media (max-width: 800px) {
      .flex-item-right, .flex-item-left {
        flex: 100%;
      }
    } 

  .post {
    strong {
      color: var(--teal) !important;
    }
  }
  .alert {
    strong {
      color: var(--peach) !important;
    }
  }
            
      @layer utils {
            [box-~="square"] {
                      --box-border-color: var(--background2);
                      }
            [box-~="square"] .post{
                      --box-border-color: var(--background0);
                      [is-~="badge"] a{
                        text-decoration: none;
                        color: inherit;
                        }  
                   [is-~="badge"]:hover{
                        --badge-color: var(--foreground0);
                        font-weight: 600;
                  }    
            }
            [box-~="square"] .alert{
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                      --box-border-color: var(--peach);
                      [is-~="badge"] a{
                        text-decoration: none;
                        color: inherit;
                        }  
                   [is-~="badge"]:hover{
                        --badge-color: var(--foreground0);
                        font-weight: 600;
                  }    
            }
      }
</style>